<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="lanturn"/>
  <arg name="debug" default="false"/>
     <param name="/$(arg namespace)/lanturn"
            command="$(find xacro)/xacro '$(find lanturn_description)/urdf/lanturn.xacro'
		             debug:=$(arg debug)
                     namespace:=$(arg namespace)
                     inertial_reference_frame:=world" />
</launch>

